
<table>
    <tr>
        <td>Admin Kategorija  @Html.ActionLink("Click!", "Index", "Kategorijas", null, new { @class = "btn btn-primary btn-large" }) </td>
    </tr>
    <tr>
        <td>Admin Radovi @Html.ActionLink("Click!", "Index", "Rads", null, new { @class = "btn btn-primary btn-large" }) </td>
    </tr>
    <tr>
        <td>Admin Struke @Html.ActionLink("Click!", "Index", "Strukas", null, new { @class = "btn btn-primary btn-large" }) </td>
    </tr>
</table>

